[submodule "source/ui/imgui/dimgui"]
	path = source/ui/imgui/dimgui
	url = https://github.com/d-gamedev-team/dimgui
[submodule "ext/gdbstub_cpp"]
	path = ext/gdbstub_cpp
	url = https://github.com/redthing1/gdbstub_cpp
