roms/

gba
test

src/d-jump/.dub
src/d-jump/source/__pycache__
src/d-jump/parser.out
src/d-jump/parsetab.py

src/jumptable/jumptable-arm.cpp
src/jumptable/jumptable-arm.h
src/jumptable/jumptable-thumb.cpp
src/jumptable/jumptable-thumb.h

src/emu/*.log
gamebean-emu

.dub/
*.dSYM/
gba_bios.bin
gba.dSYM/
.vscode/
out/
vgcore.*
