roms/

gba
test

src/cpp_jump/__pycache__/
src/cpp_jump/a.out
src/cpp_jump/main.cpp
src/cpp_jump/parser.out
src/cpp_jump/tests.py

src/jumptable/jumptable-arm.cpp
src/jumptable/jumptable-arm.h
src/jumptable/jumptable-thumb.cpp
src/jumptable/jumptable-thumb.h

test.dSYM/
gba_bios.bin
gba.dSYM/
.vscode/
out/
vgcore.*